* {
	padding: 0;
	margin: 0;
	} 

body,html{
	width:100%;
	height:100%;
	background: #000000;
	overflow: hidden;
}
#myCanvas {
	
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 92vh;
}

#gover{
	position: fixed;
	top:100px;
	left:100px;
	width:100px;
	height:100px;
	background: #fff;
}

#buttons{
	    display: grid;
    grid-template-columns: 1fr 1fr;
}

.touchbutton{
	padding: 15%;
		background: #000;
		border: none;
		outline: none;
}